
#home-body h2{
    /* font-family:'Jacques Francois Shadow', serif ; */
    font-family: Georgia, serif;
    color: #0400E2;
    font-size: 25px;
    margin-top: 0;
}

#input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
#input-container input{
    width: 300px;
    height: 50px;
    border-radius: 30px;
    border: none;
    padding-left: 20px;
}
#home-body h4{
    font-family: Georgia, serif;
    color: #0400E2;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

#trending-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

#trending-container div{
    min-width: 200px;
    min-height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

#trending-container img{
    width: 200px;
    border-radius: 10px;
}

#trending-container p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}