#container h2{
    font-family:'Jacques Francois Shadow', serif ;
    color: #0400E2;
    font-weight: 300;
    font-size: 25px;
}
#sub-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;

}
#image-container{
    width: 50%;
    min-width: 300px;
    overflow: hidden;
}
#image-container img{
    width: 100%;
    height: auto;
    border-radius: 15px;
}
#details-container{
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 5px;
    padding-top: 30px;
    
}

#details-container h5,p{
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
}
#cast-title{
    text-align: center;
    color: #0400E2;
}
#mini-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}